/target
docker/sample_db
docker/pagila/
.idea/
db/embedded/
db/test
dozer-ingestion/db/test/
Cargo.lock
dozer-core/.data

.vscode
docker/data/
dozer-sql/data
*.mdb

configs/

# Local configuration for development
dozer-config.yaml