/target
docker/sample_db
docker/pagila/
.idea/
db/embedded/
db/test
dozer-ingestion/db/test/
Cargo.lock
dozer-core/.data

.vscode
*.code-workspace
docker/data/
dozer-sql/data
*.mdb

# Local configuration for development
dozer-config.yaml
log4rs.yaml
.DS_Store

.dozer/
logs/
dozer-tests/log/
