syntax = "proto3";
package {{package_name}};
service {{service_name}} {
  {{#each rpc_functions}}

  rpc {{name}}({{argument}}) returns ({{response}});

  {{~/each}}
   
}

{{#each messages}}

message {{name}} {
 {{#each props}}
 {{{this}}}
 {{~/each}}
}

{{~/each}}


