[package]
name = "dozer-sql"
version = "0.1.35"
edition = "2021"
authors = ["getdozer/dozer-dev"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dozer-types = {path = "../dozer-types"}
dozer-storage = {path = "../dozer-storage"}
dozer-core = {path = "../dozer-core"}
dozer-tracing = {path = "../dozer-tracing"}

ahash = "0.8.3"
bloom = "0.3.2"
dyn-clone = "1.0.10"
enum_dispatch = "0.3.11"
hashbrown = "0.13"
jsonpath-rust = "0.3.0"
like = "0.3.1"
linked-hash-map = "0.5.6"
metrics = "0.21.0"
multimap = "0.8.3"
num-traits = "0.2.15"
pest = "2.6.0"
pest_derive = "2.5.6"
regex = "1.8.1"
sqlparser = {git = "https://github.com/getdozer/sqlparser-rs.git" }
uuid = {version = "1.3.0", features = ["v1", "v4", "fast-rng"]}
bigdecimal = { version = "0.3", features = ["serde"], optional = true }
ort = { version = "1.15.2", optional = true }
ndarray = { version = "0.15", optional = true }
image = { version = "0.24", optional = true }

[dev-dependencies]
tempdir = "0.3.7"
proptest = "1.1.0"

[features]
python = ["dozer-types/python-auto-initialize"]
bigdecimal = ["dep:bigdecimal", "sqlparser/bigdecimal"]
onnx = ["dep:ndarray", "dep:image", "dozer-types/onnx"]
