[package]
name = "dozer-sql"
version = "0.1.18"
edition = "2021"
authors = ["getdozer/dozer-dev"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dozer-types = {path = "../dozer-types"}
dozer-core = {path = "../dozer-core"}
dozer-tracing = {path = "../dozer-tracing"}

num-traits = "0.2.15"
sqlparser = "0.32.0"
dyn-clone = "1.0.10"
like = "0.3.1"
multimap = "0.8.3"
uuid = {version = "1.3.0", features = ["v1", "v4", "fast-rng"]}
hashbrown = "0.13"
ahash = "0.8.3"
bloom = "0.3.2"
enum_dispatch = "0.3.11"
linked-hash-map = "0.5.6"

[dev-dependencies]
tempdir = "0.3.7"
proptest = "1.1.0"

[features]
python = ["dozer-types/python-auto-initialize"]
