[package]
name = "dozer-core"
version = "0.1.18"
edition = "2021"
authors = ["getdozer/dozer-dev"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dozer-types = {path = "../dozer-types/"}
dozer-tracing = {path = "../dozer-tracing/"}

uuid = {version = "1.3.0", features = ["v1", "v4", "fast-rng"]}
crossbeam = "0.8.2"
dyn-clone = "1.0.10"
fp_rust = "0.3.5"
daggy = { git = "https://github.com/getdozer/daggy", branch = "feat/map_owned" }

[dev-dependencies]
tempdir = "0.3.7"
