// Dozer Generated for {{package_name}}

syntax = "proto3";
package {{package_name}};


{{#each import_libs}}
import "{{this}}";
{{~/each}}

/**
 * TypedService provides explicit and strongly-typed data access experience for developers.
 *
 * This allows for a more user-friendly and predictable API. Developers can rely on the explicitly defined types to guide them and catch errors at compile-time.
 */
service {{plural_pascal_name}} {
  /**
   * Counts the number of records satisfying the given query. See [Query](../query) for the query format.
   *
   * If no query is specified, total number of records will be returned.
   */
  rpc count(QueryRequest) returns (CountResponse);
  /**
   * Performs query. See [Query](../query) for the query format.
   *
   * If no query is specified, the first 50 records will be returned.
   */
  rpc query(QueryRequest) returns (QueryResponse);

  {{#if enable_on_event}}
  /**
   * Subscribes to the Dozer event stream, optionally applies a filter. See [Query](../query) for the filter format.
   */
  rpc OnEvent(dozer.types.EventFilter) returns (stream {{pascal_name}}Event);
  {{/if}}
  {{#if enable_token}}
  // Gets the authentication token.
  rpc token(TokenRequest) returns (TokenResponse);
  {{/if}}
}

// Request for `count` and `query`.
message QueryRequest {
  // query using Value datatype.
  optional google.protobuf.Value query = 1;
}

// Response for `count`.
message CountResponse {
  // The number of records.
  uint64 count = 1;
}

// Response for `query`.
message QueryResponse {
  // The list of records.
  repeated {{pascal_name}}WithId records = 1;
}

{{#if enable_on_event}}
// Response for `OnEvent`.
message {{pascal_name}}Event {
  // The operation type.
  dozer.types.OperationType typ = 1;
  // Old record data, only applicable for UPDATE type.
  optional {{pascal_name}} old = 2;
  // New record data.
  {{pascal_name}} new = 3;
  // New record id, only applicable for INSERT type.
  optional uint64 new_id = 4;
}
{{/if}}
/**
 * {{pascal_name}} record type.
 * 
 * Nullable fields will be generated as `optional` fields.
 */
message {{pascal_name}} {
  {{#each props}}

  {{{this}}}
  {{~/each}}

  // Records with same primary key will have increasing version.
  uint32 __dozer_record_version = {{version_field_id}};
}

// A record with its id in cache.
message {{pascal_name}}WithId {
  // The record id.
  uint64 id = 1;
  // The record data.
  {{pascal_name}} record = 2;
}

{{#if enable_token}}
// Request for `token`.
message TokenRequest {
}

// Response for `token`.
message TokenResponse {
  // The token string.
  string token = 1;
}
{{/if}}
