[package]
name = "dozer-types"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.0"
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.85"
bson = { version = "2.4.0", features = ["chrono-0_4"] }
rust_decimal =  {version = "1.26", features = ["serde-float", "db-postgres"]}
bincode= "1.3.3"
anyhow = "1.0.65"
ahash = "0.8.0"
log = "0.4.17"
log4rs = "1.1.1"
thiserror = "1.0.37"
crossbeam = "0.8.2"
parking_lot = "0.12"
bytes = "1.2.1"
indexmap = "1.9.1"

[features]
snowflake=[]