[package]
name = "dozer-types"
version = "0.1.16"
authors = ["getdozer/dozer-dev"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = {version = "0.4.23", features = ["serde"]}
serde = { version = "1.0.152", features = ["derive"] }
serde_json = { version = "1.0.93", features = ["std"] }
rust_decimal =  {version = "1.28", features = ["serde-str", "db-postgres"]}
bincode= "1.3.3"
ahash = "0.8.3"
thiserror = "1.0.38"
crossbeam = "0.8.2"
parking_lot = "0.12"
bytes = "1.4.0"
indexmap = "1.9.2"
ordered-float = { version = "3.4.0", features = ["serde"] }
tracing = "0.1.34"
log = "0.4.17"
serde_yaml = "0.9.17"
fp_rust = "0.3.5"
prettytable-rs = "0.10.0"
indicatif = "0.17.3"
geo = {version = "0.24.0", features = ["use-serde"]}
pyo3 = {version = "0.18.1", optional = true}
tonic = {version = "0.8.3"}
prost-types = "0.11.1"
prost = "0.11.8"
arrow = { version = "33.0.0"}
arrow-schema = { version = "33.0.0", features=["serde"]}


[build-dependencies]
tonic-build = "0.8.2"

[features]
python = ["dep:pyo3"]
snowflake=[]
