name: Dozer E2E Test

on:
  workflow_dispatch:
  merge_group:
  pull_request_target:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  DOZER_DEV: ci

concurrency:
  group: e2e/${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # Run e2e test
  e2e:
    # Skip on PR, because it takes too long. Skipping instead of not triggering
    # will make branch protection happy, so we can add it to the merge queue and
    # run the job there
    if: ${{ github.event_name != 'pull_request_target' }}
    timeout-minutes: 90
    runs-on:
      labels: ubuntu-latest
    steps:
      - if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - if: github.event_name != 'pull_request_target'
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Build dozer
        run: cargo build --features ethereum,mongodb --bin dozer 

      - name: Build dozer-tests
        run: cargo build --bin dozer-tests

      - name: Run dozer-tests
        run: cargo run --bin dozer-tests
        env:
          ETH_WSS_URL: ${{ secrets.ETH_WSS_URL }}
          ETH_HTTPS_URL: ${{ secrets.ETH_HTTPS_URL }}
