name: Dozer Integration Test

on:
  workflow_dispatch:
    inputs:
      dozer-version:
        description: Expected Dozer version number. Leave blank to skip verifying the version.

env:
  CARGO_TERM_COLOR: always
  DOZER_VERSION: ${{ github.event.inputs.dozer-version }}

concurrency:
  group: integration/${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  integration-linux:
    timeout-minutes: 60
    strategy:
      matrix:
        labels: [ubuntu-22.04, ubuntu-20.04]
      fail-fast: false
    runs-on:
      labels: ${{ matrix.labels }}
    steps:
      - uses: actions/checkout@v3

      - name: Install Dozer
        run: sudo sh .github/workflows/integration/dockerfiles/install-dozer-ubuntu-amd64.sh

      - name: Install Protoc Ubuntu 22.04
        if: matrix.labels == 'ubuntu-22.04'
        run: sudo sh .github/workflows/integration/dockerfiles/install-protoc-ubuntu-22.sh

      - name: Install Protoc Ubuntu 20.04
        if: matrix.labels == 'ubuntu-20.04'
        run: sudo sh .github/workflows/integration/dockerfiles/install-protoc-ubuntu-20-amd64.sh

      - name: Run test
        run: sudo sh .github/workflows/integration/test-dozer-ubuntu.sh

  integration-macos:
    timeout-minutes: 60
    runs-on:
      labels: macos-12
    steps:
      - uses: actions/checkout@v3

      - name: Install Dozer
        run: brew tap getdozer/dozer && brew install dozer

      - name: Run test
        run: sh .github/workflows/integration/test-dozer.sh
